@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

body {
  font-family: "Open Sans", sans-serif;
  color: #1E1E1E;
}

.drop-over {
  --tw-bg-opacity: 0.4;
  background-color: rgba(0,0,0,var(--tw-bg-opacity));
}